<div class="cookie-consent-wrapper">
	<div class="cookie-consent">
		<p>
			{{ implied_consent_text|e }}
			<a href="{{ privacy_url|e('html_attr') }}">{{ privacy_link_text|e }}</a>
		</p>
		<button class="btn btn-cookie">{{ button_text|e }}</button>
	</div>
</div>
