parameters:
	ignoreErrors:
		-
			message: '#^Method PressGang\\ACF\\TimberMapper\:\:map_field\(\) has parameter \$field with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ACF/TimberMapper.php

		-
			message: '#^Method PressGang\\Configuration\\AcfOptions\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/AcfOptions.php

		-
			message: '#^Method PressGang\\Configuration\\BlockCategories\:\:add_custom_categories\(\) has parameter \$categories with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/BlockCategories.php

		-
			message: '#^Method PressGang\\Configuration\\BlockCategories\:\:add_custom_categories\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/BlockCategories.php

		-
			message: '#^Method PressGang\\Configuration\\BlockCategories\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/BlockCategories.php

		-
			message: '#^Method PressGang\\Configuration\\BlockPatterns\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/BlockPatterns.php

		-
			message: '#^Method PressGang\\Configuration\\Blocks\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Blocks.php

		-
			message: '#^Method PressGang\\Configuration\\Blocks\:\:register_block\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Blocks.php

		-
			message: '#^Parameter \#1 \$callback of function call_user_func expects callable\(\)\: mixed, array\{class\-string, ''on_register''\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Blocks.php

		-
			message: '#^Parameter \#1 \$json of function json_validate expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Blocks.php

		-
			message: '#^Method PressGang\\Configuration\\ColorPalette\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/ColorPalette.php

		-
			message: '#^Method PressGang\\Configuration\\CustomMenuItems\:\:filter_nav_menu_items\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomMenuItems.php

		-
			message: '#^Method PressGang\\Configuration\\CustomMenuItems\:\:filter_nav_menu_items\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomMenuItems.php

		-
			message: '#^Method PressGang\\Configuration\\CustomMenuItems\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomMenuItems.php

		-
			message: '#^Parameter \#2 \$gmt of function current_time expects bool, int given\.$#'
			identifier: argument.type
			count: 2
			path: src/Configuration/CustomMenuItems.php

		-
			message: '#^Property PressGang\\Configuration\\CustomMenuItems\:\:\$menus type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomMenuItems.php

		-
			message: '#^Method PressGang\\Configuration\\CustomPostTypes\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomPostTypes.php

		-
			message: '#^Method PressGang\\Configuration\\CustomPostTypes\:\:parse_labels\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomPostTypes.php

		-
			message: '#^Method PressGang\\Configuration\\CustomPostTypes\:\:parse_labels\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomPostTypes.php

		-
			message: '#^Method PressGang\\Configuration\\CustomTaxonomies\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomTaxonomies.php

		-
			message: '#^Method PressGang\\Configuration\\CustomTaxonomies\:\:parse_labels\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomTaxonomies.php

		-
			message: '#^Method PressGang\\Configuration\\CustomTaxonomies\:\:parse_labels\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/CustomTaxonomies.php

		-
			message: '#^Method PressGang\\Configuration\\Customizer\:\:add_control_to_setting\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Method PressGang\\Configuration\\Customizer\:\:create_setting\(\) has parameter \$options with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Method PressGang\\Configuration\\Customizer\:\:create_settings_for_section\(\) has parameter \$settings with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Parameter \#1 \$id of method WP_Customize_Manager\:\:add_control\(\) expects string\|WP_Customize_Control, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Parameter \#1 \$id of method WP_Customize_Manager\:\:add_setting\(\) expects string\|WP_Customize_Setting, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Parameter \#1 \$id of method WP_Customize_Manager\:\:get_setting\(\) expects string, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Parameter \#3 \$setting of method PressGang\\Configuration\\Customizer\:\:add_control_to_setting\(\) expects string, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Customizer.php

		-
			message: '#^Method PressGang\\Configuration\\MetaTags\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/MetaTags.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Configuration/PageTemplates.php

		-
			message: '#^Method PressGang\\Configuration\\Plugins\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Plugins.php

		-
			message: '#^Method PressGang\\Configuration\\RemoveNodes\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/RemoveNodes.php

		-
			message: '#^Method PressGang\\Configuration\\RemoveSupport\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/RemoveSupport.php

		-
			message: '#^Method PressGang\\Configuration\\Routes\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Routes.php

		-
			message: '#^Method PressGang\\Configuration\\Scripts\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Scripts.php

		-
			message: '#^Method PressGang\\Configuration\\Sidebars\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Sidebars.php

		-
			message: '#^Method PressGang\\Configuration\\Sidebars\:\:parse_args\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Sidebars.php

		-
			message: '#^Method PressGang\\Configuration\\Sidebars\:\:parse_args\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Sidebars.php

		-
			message: '#^Method PressGang\\Configuration\\Snippets\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Snippets.php

		-
			message: '#^Method PressGang\\Configuration\\Styles\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Styles.php

		-
			message: '#^Method PressGang\\Configuration\\Support\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Support.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Configuration/Templates.php

		-
			message: '#^Method PressGang\\Configuration\\Templates\:\:initialize\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Templates.php

		-
			message: '#^Method PressGang\\Configuration\\Templates\:\:register_templates\(\) has parameter \$atts with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Templates.php

		-
			message: '#^Method PressGang\\Configuration\\Templates\:\:register_templates\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Templates.php

		-
			message: '#^Method PressGang\\Helpers\\ScriptLoader\:\:register_script\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Method PressGang\\Helpers\\ScriptLoader\:\:register_script\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Property PressGang\\Helpers\\ScriptLoader\:\:\$async type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Property PressGang\\Helpers\\ScriptLoader\:\:\$defer type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Method PressGang\\Helpers\\StyleLoader\:\:register_style\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Method PressGang\\Helpers\\StyleLoader\:\:register_style\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Property PressGang\\Helpers\\StyleLoader\:\:\$preconnect type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Method PressGang\\Routes\\RouteHandlerInterface\:\:handle\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Routes/RouteHandlerInterface.php

		-
			message: '#^Method PressGang\\Snippets\\SnippetInterface\:\:__construct\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Snippets/SnippetInterface.php
