parameters:
	ignoreErrors:
		-
			message: '#^Method PressGang\\ACF\\TimberMapper\:\:map_field\(\) has parameter \$field with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/ACF/TimberMapper.php

		-
			message: '#^Method PressGang\\Helpers\\ScriptLoader\:\:register_script\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Method PressGang\\Helpers\\ScriptLoader\:\:register_script\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Property PressGang\\Helpers\\ScriptLoader\:\:\$async type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Property PressGang\\Helpers\\ScriptLoader\:\:\$defer type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/ScriptLoader.php

		-
			message: '#^Method PressGang\\Helpers\\StyleLoader\:\:register_style\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Method PressGang\\Helpers\\StyleLoader\:\:register_style\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Property PressGang\\Helpers\\StyleLoader\:\:\$preconnect type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Helpers/StyleLoader.php

		-
			message: '#^Method PressGang\\Routes\\RouteHandlerInterface\:\:handle\(\) has parameter \$params with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Routes/RouteHandlerInterface.php

		-
			message: '#^Method PressGang\\Snippets\\SnippetInterface\:\:__construct\(\) has parameter \$args with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Snippets/SnippetInterface.php
